smol_sangria {					/*  Indentation for aesthetics. Definitely not an OCD or anything like that... definitely not!!!  ":3  */
	padding-left: 20px;
}

sangria {					/*  This one is even worse than OCD. It's pure tanteo perfectionism.  */
	padding-left: 40px;
}

code_tab {					/*  Indentation for code. Feel free to adjust the padding value to your own liking :p  */
	padding-left: 150px;
}

code_tab_inverse {			/*  Center is evil.  */
	padding-right: 80px;
}


p10 {
    background-color: #b2fc92;
    font-size: 9px;
}

blue {
	color: #4444de;
}


header_file {
	color: #03ad4d;
}

dark_green {
	color: #007834;
}


.smol {
    width: 50%;
}


.caption_style {
	font-style:	italic;
	color: #666666;
}




/*   Credits for this "code": https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/nav    */

nav {
  border-bottom: 1px solid black;
}

.crumbs ol {    /* ordered list! :D */
  list-style-type: none;
  padding-left: 0;
}

.crumb {
  display: inline-block;
}

.crumb a::after {
  display: inline-block;
  color: black;
  content: ">";
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}

